// Executable filename for each mkxp-z targets
EXECUTABLE_NAME = mkxp-z
MKXPZ_EXECUTABLE_NAME = mkxp-z

// Ruby version
MRI_VERSION = 3.1.0

// Dependency folder definition
DEPENDENCY_PATH = $(PROJECT_DIR)/dependencies/build-$(BUILD_ARCH)

// Exclude some paths from recursive search
EXCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES = $(inherited) dependencies ../build DerivedData

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
