// Executable filename for steamshim target
EXECUTABLE_NAME = steamshim

// If this is set to anything but 0, steamshim will use RestartAppIfNecessary
// instead of requiring Steam App ID from steam_appid.txt
STEAM_APP_ID = 0

// steamshim compile-time definitions
STEAMSHIM_DEFINES = "GAME_LAUNCH_NAME=\"$(MKXPZ_EXECUTABLE_NAME)\"" STEAM_APPID=$(STEAM_APP_ID)

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
